<nav class="navbar navbar-expand-md navbar-light fixed-top header">

    <div class="col-md-3">
        <h2>Demo</h2>
    </div>
    <div class="collapse navbar-collapse col-md-9 my-2 my-lg-0" id="navbarSupportedContent">
        <div class="text-center">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link but" routerLink="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link but" routerLink="About-Us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link but" routerLink="">Clients</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link but" routerLink="">Employer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link but" routerLink="">Contact Us</a>
                  </li>
               
                
              </ul>
        </div>
        
      </div>


</nav>